.menu {
    background-image: url('../../../public/background-menu.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 85vh;
    width: 100%;
    text-align: center;
    padding-top: 15vh;
}

.container {
    width: 60%;
    min-height: 50vh;
    margin: auto;
    border: 3px solid;
    border-image: linear-gradient(to bottom right, transparent 0%, #D48947 100%);
    border-image-slice: 1;
    color: #eee;
    padding-top: 25px;
    padding-bottom: 25px;
}


@media only screen and (max-width: 850px) {
    .container {
      width: 98%;
    }
}

@media only screen and (max-width: 500px) {
    .container {
      margin-top: 25px;
    }
}